.hero {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    min-height: 75vh;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, rgba(#000, 0.7), rgba(#000, 0.2));
    }

    >div {
        position: relative;
        color: #fff;
    }

    &__contact-row {
        margin-bottom: 2rem;
    }

    &__title {
        margin-bottom: rem(50px);
        font-size: clamp(36px, 4.027vw, 60px);
    }

    &__see-map {
        margin-top: 2rem;
        margin-bottom: 2rem;

        a {
            display: flex;
            align-items: center;
            column-gap: .5rem;
            color: $color-primary;
            font-size: rem(14px);
        }

        svg {
            fill: currentColor;
        }
    }
}

.breadcrumbs {
    display: flex;
    column-gap: .75rem;
    margin-bottom: rem(40px);

    &__item {
        transition: color .2s;

        @include lg-down {
            font-size: rem(14px);
        }
    }

    &__item--link {
        &:hover {
            color: $color-primary;
        }
    }
}

.contact-info {
    background-color: #151515;

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: rem(50px);

        @include lg-down {
            grid-template-columns: 1fr;
        }
    }

    &__details {
        margin: 2.5rem 0;
        color: #fff;

        @include lg-down {
            margin: 1.5rem 0;
        }

        &-title {
            font-size: rem(18px);
            margin-bottom: 1.5rem;
        }

        .contact-link__icon {
            path {
                fill: #fff;
            }
        }

        &--dark {
            color: #000;

            .contact-link__icon {
                path {
                    fill: #000;
                }
            }
        }
    }
}

.contact-link {
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;

    &__icon {
        width: 1.25rem;
    }

    &__content {
        a {
            font-weight: 700;
            text-underline-offset: 4px;

            &:hover {
                color: $color-primary;
                text-decoration: underline;
            }
        }
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 30px 0;

    @include xl-down {
        grid-template-columns: 1fr 1fr;
    }

    @include lg-down {
        grid-template-columns: 1fr;
    }
}

.tile {
    padding: 3rem;
    background-color: #F6F6F6;
    text-align: center;

    @include xxl-down {
        padding: 2rem;
    }

    &__icon {
        margin-bottom: 2rem;
        height: rem(130px);
    }

    &__title {
        margin-bottom: 2rem;
        font-size: 32px;

        @include xxl-down {
            font-size: 28px;
        }

        @include lg-down {
            font-size: 24px;
            font-weight: 600;
        }
    }

    .contact-link {
        justify-content: center;
    }

    &:last-child {
        @include xl-up {
            grid-column: 1/-1;
        }
    }
}

.block-media-text {
    position: relative;
    background-color: #000;
    color: #fff;

    &__text {
        display: flex;
        align-items: center;
        padding: 2rem 0;
        min-height: rem(600px);

        @include md-down {
            min-height: rem(300px);
            height: auto;
        }

        >div {
            width: 100%;
        }
    }

    &__media {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include md-down {
            position: static;
            height: rem(300px);
        }
    }

    &--light {
        background-color: #F6F6F6;
        color: #000;
    }

    &--reversed {
        .block-media-text__media {
            left: 0;
            right: 50%;
        }
    }
}

.collapse-cards {
    padding-bottom: 3rem;

    &__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;

        @include xxl-down {
            column-gap: 30px;
        }

        @include xl-down {
            grid-template-columns: 1fr 1fr;
        }

        @include md-down {
            grid-template-columns: 1fr;
        }
    }
}

.collapse-card {
    position: relative;
    margin-block: 25px;
    padding: 0;

    @include xxl-down {
        margin-block: 15px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #F6F6F6;
        height: 25px;
        opacity: 0;
        transition: opacity .25s;
    }

    &__thumb {
        height: 185px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .4s, filter .4s;
            will-change: transform, filter;
        }
    }

    &__body {
        position: relative;
        padding: 20px 40px;
        display: flex;
        align-items: center;
        height: 100px;
        background-color: #F6F6F6;
    }

    &__title {
        width: 100%;
        margin-bottom: 0;
        padding-right: 2rem;
        font-size: rem(18px);
        text-align: left;
    }

    &__icon {
        position: absolute;
        right: 40px;
        transition: transform .3s;
        will-change: transform;

        path {
            fill: $color-primary;
        }
    }

    &__hidden {
        display: none;
        grid-column: 1/-1;
        grid-row: 2;
        background-color: #F6F6F6;

        @include md-down {
            grid-row: auto !important;
        }
    }

    &__list-item {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
        padding: 2rem;

        @include xxl-down {
            column-gap: 30px;
        }

        @include lg-down {
            grid-template-columns: 1fr;
            row-gap: 1.5rem;
            padding: 1.5rem;
        }
    }

    &__list-item+&__list-item {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: calc(100% - 2rem);
            height: 3px;
            background-color: #fff;
        }
    }

    &__contact {
        display: grid;
        align-items: center;
        padding-inline: 1.5rem;

        @include lg-down {
            padding-inline: 0;
        }
    }
}

.collapse-card:hover {
    .collapse-card__thumb img {
        transform: scale(1.1);
        filter: brightness(0.8);
    }
}

.collapse-card.is-active {
    &::before {
        opacity: 1;
    }

    .collapse-card__icon {
        transform: scaleY(-1);
    }
}