.footer {
    padding: 1.5rem 0;
    background-color: #151515;
    color: #fff;

    @include lg-up {
        padding: 3rem 0;
    }

    p {
        color: rgba(#fff, 0.5);
    }

    a {
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }

    &__social-media {
        display: flex;
        column-gap: rem(20px);
        justify-content: center;
        margin-bottom: 1.5rem;

        @include lg-up {
            justify-content: flex-end;
        }

        a {
            &:hover {
                opacity: .8;
            }
        }
    }

    &__left {
        font-size: rem(15px);
        text-align: center;

        @include lg-up {
            text-align: left;
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: .5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;

        @include lg-up {
            flex-direction: row;
            justify-content: flex-end;
            column-gap: 1rem;
        }
    }

    &__copyright {
        font-size: rem(12px);
        text-align: center;

        @include lg-up {
            text-align: right;
        }
    }
}